<div class='form'>
  <%= form_for([:admin, @item]) do |f| %>
    <%= f.label             :title %>
    <%= f.text_field        :title %>
    <%= f.label             :description %>
    <%= f.text_area         :description %>
    <%= f.label             :price %>
    <%= f.text_field        :price %>
    <%= f.label             :status %>
    <%= f.select            :status, Item.statuses.keys.map { |s| [s.humanize, s] } %>
    <%= f.label             :category %>
    <%= f.collection_select :category_id, Category.all, :id, :title %>
    <%= f.label             "Image" %>
    <%= f.file_field        :image %>
    <%= f.submit %>
  <% end %>
</div>