<div class='login-page'>
  <div class='form'>
    <h1>Create an account</h1>
    <div class='login-form'>
      <%= form_for User.new do |f| %>
      <%= f.text_field :first_name, placeholder: :first_name %>
      <%= f.text_field :last_name, placeholder: :last_name %>
      <%= f.text_field :address, placeholder: :address %>
      <%= f.text_field :email, placeholder: :email %>
      <%= f.password_field :password, placeholder: :password %>
      <%= f.submit "Register", class: :submit %>
      <% end %>
    </div>
  </div>
</div>