<div class='carts-container'>
  <% if @cart.contents.empty? %>
    <h1>Your cart is empty.</h1>
  <% else %>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Description</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Subtotal</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @items.each do |item| %>
        <tr>
          <td>
            <%= image_tag item.image.url(:thumb) %>
          </td>
          <td>
            <%= link_to  item.title, item_path(item) %>
          </td>
          <td><%= item.description %></td>
          <td>
            <%= number_to_currency(item.price) %>
          </td>
          <td>
            <div class='controls'>
              <%= button_to "-",cart_path(decrement_me: item), method: :patch %>
              x<%= @cart.count_of(item.id) %>
              <%= button_to "+",cart_path(increment_me: item), method: :patch %>
            </div>
          </td>
          <td>
            <p><%= number_to_currency(@cart.item_subtotal(item.id)) %></p>
          </td>
          <td>
            <%= button_to "Remove", cart_path(item_id: item), method: :delete %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <h1>Total Price: <%= number_to_currency(@cart.cart_total_price) %></h1>
    <% if current_user %>
      <%= button_to "Checkout", orders_path(current_user), method: :post, class: 'checkout'%>
    <% else %>
      <p class='login-wrap'><%= link_to "login or create account to checkout", login_path, class: "login-to-checkout" %></p>
    <% end %>
  </div>
<% end %>
