<% @items.each do |item| %>
<div class="item">
  <%= image_tag item.image.url(:thumb) %>

  <span class="title">Title: <%= item.title %>
  Description: <%= item.description %></span>

  <span>Price:<%= number_to_currency(item.price) %></span>

  <div>
    <%= button_to "+",cart_path(increment_me: item), method: :patch %>
    <h3>Quantity: <%= @cart.count_of(item.id) %></h3>
    <%= button_to "-",cart_path(decrement_me: item), method: :patch %>
    <%= button_to "Remove", cart_path(item_id: item), method: :delete %>
  </div>


  <span>Subtotal: <%= @cart.item_subtotal(item.id) %></span>
  <% if current_user %>
    <%= button_to "Checkout", orders_path(cart: @cart.contents)%>
  <% else %>
  <%= link_to "You must login or register to checkout", login_path %>
  <% end %>
</div>
<% end %>

<h1>Total Price: <%= number_to_currency(@cart.cart_total_price) %></h1>
