<div class='item-show-container'>
  <div class='item-show'>
    <div class='img'>
      <%= image_tag @item.image.url(:medium), class: "image" %>
    </div>
    <div class='item-details'>
      <h1><%= @item.title %></h1>
      <h4><%= @item.category.title %></h4>
      <p>Details: <%= @item.description %></p>
      <p>Price: <%= number_to_currency(@item.price) %></p>
      <% if @item.active? %>
      <%= button_to "Add to Cart", cart_path(item_id: @item.id) %>
      <% else %>
      <%= button_to "Item Retired", cart_path(item_id: @item.id), :disabled => true %>
      <% end %>
    </div>
  </div>
  <div class='related-item-container'>
    <h3>Related Items</h3>
    <div class="related">
      <% @item.category.items.take(5).each do |item| %>
        <div class="items">
          <p><%= link_to "#{item.title}", item_path(item) %></p>
          <%= link_to image_tag(item.image.url(:thumb)), item_path(item), class: "image" %>
        </div>
      <% end %>
    </div>
  </div>
</div>