<h1 class='category-title'>All items in <%= @category.title %></h1>
<div class='items-container'>
  <% @category.items.each do |item| %>
    <div class='items'>
      <%= link_to "#{item.title}", item_path(item), class: 'category-item' %>
      <div class="image">
        <%= link_to image_tag(item.image.url(:thumb)), item_path(item) %>
      </div>
      <p><%= item.description %></p>
      <p><%= number_to_currency(item.price) %></p>
      <%= button_to "Add to Cart", cart_path(item_id: item.id) %>
    </div>
  <% end %>
</div>