<!DOCTYPE html>
<html>
  <head>
    <title>LittleShop</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'yung_favicon.png', type: 'image/png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= render partial: "shared/nav" %>
    </nav>
    <% flash.each do |type, message| %>
      <%= content_tag :div, message.html_safe, class: "alert alert-#{type}" %>
    <% end %>
    <%= yield %>
  </body>
</html>
