<!DOCTYPE html>
<html>
  <head>
    <title>LittleShop</title>
    <%= csrf_meta_tags %>
    <%# google font here vvv %>
    <link href="https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer+SC|Raleway" rel="stylesheet">    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# end %>


    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <br>
      <% flash.each do |type, message| %>
        <%= content_tag :div, message.html_safe, class: "alert alert-#{type}" %>
      <% end %>
    <br>
    <nav>
      <div class="store-name">Poisonous Plant Atrocities & Curiosities</div>
      <%= link_to 'Cart', cart_path %>
    </nav>
    <%= yield %>
  </body>
</html>
