<!DOCTYPE html>
<html>
  <head>
    <title>LittleShop</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="store-name">
        <%= image_tag("logo.png", :alt => "logo") %>
        <%= link_to  "The Conservatory", items_path %></div>
      <div class='nav-links'>
        <% if current_user %>
        <div class ='nav-username'>
          <h2>Welcome, <%= link_to  current_user.first_name, dashboard_path%>
        </div>
        <% else %>
          <%= link_to "Log In", login_path %>
        <% end %>
        <%= link_to "Cart (#{@cart.total})", cart_path %>
      </div>
        <% flash.each do |type, message| %>
          <%= content_tag :div, message.html_safe, class: "alert alert-#{type}" %>
        <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
