<!DOCTYPE html>
<html>
  <head>
    <title>LittleShop</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="store-name">Poisonous Plant Atrocities & Curiosities</div>
      <%= link_to "Cart (#{@cart.total})", cart_path %>
      <% flash.each do |type, message| %>
        <%= content_tag :div, message.html_safe, class: "alert alert-#{type}" %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
